#container {
	width:1100px;
	overflow:auto;
	background:#f3f3f3;
	margin: auto;
	border:none;
	text-decoration:none;
}

#signboard {
	color:black;
	font-size:30px;
	margin-bottom:25px;
	font-family : garlfield ;
}

#mainMenuContainer {
    position:absolute;
    float:left;
    margin-top: -250px;
    color:red;
}

.menu {
    list-style-type:none;
    margin:0;
    padding:0;
    width : 140px ;
}

.menu li {
	background: url(../img/verticalMenu.png) no-repeat 0 0;
	width: 200px;
	height: 30px;
	border:none;
    padding-top : 8px;
    padding-left : 15px;
    position:relative;
}

.menu a {
	color:#909090;
    font-weight : 900;
    font-size:11px;
	text-decoration:none;
}

.menu li a:hover{
	width: 200px;
	height: 30px;
	color:black;
	font-size:12px;
}

/* Drop menu */
.menu li ul {
    list-style-type:none;
    position: absolute; 
    display: none;
    top: 0px;
    left: 148px;
}

.menu li:hover ul {
   display: block;
}

.menu li ul li{
  background: url(../img/verticalMenu.png) no-repeat 0 0;
}

.menu li ul li:hover {
    width: 200px;
    height: 30px;
    color:black;
}

.menu li ul li a{
  color:#909090;
  text-decoration:none;
  font-size:11px;
}

.menu li ul li a:hover{
  font-size: 12px;
  color: black;
  text-decoration:none;
}

/* End of drop menu*/

#copyright {
	margin-top:10px;
	color:#E5E5E5;
	opacity: 0.3;
	font-weight:bold;
	text-align:center;
	font-family: imperator;
}

@font-face {
	font-family: garlfield;
	src: local("garlfield"),
	url(../fonts/garlfield.ttf);
}

@font-face {
	font-family: imperator;
	src: local("imperator"),
	url(../fonts/imperator.ttf);
}

@font-face {
	font-family: cuprum;
	src: local("cuprum"),
	url(../fonts/cuprum.otf);
}

#managersMainTableContainer {
    margin : 43px;
    height : 400px;
    overflow: auto;
    margin-bottom:100px;
    margin-top:300px;
}

#developersMainTableContainer {
    margin : 43px;
    height : 400px;
    overflow: auto;
    margin-bottom:100px;
    margin-top:300px;
}

#cleanersMainTableContainer {
    margin : 43px;
    height : 400px;
    overflow: auto;
    margin-bottom:100px;
    margin-top:300px;
}

.employeesMainTable {
    table-layout: fixed;
    background-color:#D8CEC1;
}

.employeesMainTable td, tr, th {
    padding: 14px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 11px;
}

.managersMainTable {
    table-layout: fixed;
    background-color:#D8CEC1;
    display: inline-block;
}

.managersMainTable td, tr, th {
    padding: 14px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 11px;
}

.developersMainTable {
    table-layout: fixed;
    background-color:#D8CEC1;
    display: inline-block;
}

.developersMainTable td, tr, th {
    padding: 24px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 11px;
}

.cleanersMainTable {
    table-layout: fixed;
    background-color:#D8CEC1;
    display: inline-block;
}

.cleanersMainTable td, tr, th {
    padding: 24px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 11px;
}

.salaryTable {
    table-layout: fixed;
    width : 1000px;
    background-color:#FAEBD7;
}

.salaryTable td, tr, th {
    padding: 25px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 15px;
}

.editEmployeeTable {
     table-layout: fixed;
     width : 600px;
     background-color:#FAEBD7;
}

.editEmployeeTable td, tr, th {
    padding: 5px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 15px;
}

.editEmployeeTable td {
    font-weight:900;
}

#nameOfProfession {
    font-family : cuprum;
    font-weight : 900;
    color : red;
}

ul.professions {
    list-style-type : none;
    margin-left : 260px;
    padding : 25px;
}

ul.professions > li {
    float:left;
    margin-right: 50px;
    margin-bottom : 50px;
}

.editAction button {
     border : 0 none;
     background : none;
     cursor: pointer;
     float : left;
}

.deleteAction button {
     border : 0 none;
     background : none;
     cursor: pointer;
     float : left;
}

.addEmployeeToDepartment button {
     border : 0 none;
     background : none;
     cursor: pointer;
}

input[type=search] {
    padding: 10px;
    border: 1px solid black;
    height:25px;
    width:222px;
}

.searchResultsMultipleTable {
    width:450px;
    table-layout-fixed;
    background-color:#D8CEC1;
    float:left;
    margin-left:67px;
    margin-top:20px;
}

.searchResultsMultipleTable td, tr, th {
    padding: 5px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 15px;
}

.searchResultsSingleTable {
    width:300px;
    table-layout-fixed;
    background-color:#D8CEC1;
}

.searchResultsSingleTable td, tr, th {
    padding: 5px;
    border-collapse: collapse;
    text-align:center;
    border-bottom: 1px solid #51626f;
    border-right: 1px solid #51626f;
    font-size : 15px;
}

.editActionSearchForm button {
     border : 0 none;
     background : none;
     cursor: pointer;
     margin-bottom:10px;
}

.deleteActionSearchForm button {
     border : 0 none;
     background : none;
     cursor: pointer;
}

.successOperationContainer {
    border: 1px solid #BFDE84 !important;
    background: url(../img/success.gif) no-repeat scroll 12px 12px #EDFBD8 !important;
    color: #508600 !important;
    padding: 10px 0 30px 40px;
    font-weight: bold;
    overflow: hidden;
    border-radius: 3px;
}

.failOperationContainer {
     border: 1px solid #F08080 !important;
     background: url(../img/error.png) no-repeat scroll 12px 12px #FF6347 !important;
     color: black !important;
     padding: 15px 0 0 40px;
     font-weight: bold;
     overflow: hidden;
     border-radius: 3px;
}

select {
    border:1px solid black;
    font-weight:600;
    font-size:11px;
}